
stages:
    - build
    - deploy

cache:
  paths:
    - node_modules/

image: cyberpearuk/node-build-docker

build-and-tag:
    stage: build
    script:
        - npm install
        - npm run build
        - git-tag

pack:
    stage: build
    image: cyberpearuk/node-build-docker
    script:
        - npm install
        - npm run build
        - npm pack
    artifacts:
        paths:
            - '*.tgz'
    only:
        - tags

publish:
    stage: deploy
    image: cyberpearuk/node-build-docker
    script:
        - RELEASE="$(ls *.tgz | tail -n 1)"
        - echo $RELEASE
        - npm publish $RELEASE --registry https://nexus.jbuncle.co.uk/repository/npm-private/
    only:
        - tags
    dependencies: 
        - pack
