name: Node.js Package

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest 
    permissions: 
      contents: read
      packages: write 
    steps:
      - uses: actions/checkout@v2

      - name: Get tag/version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - run: npm config set git-tag-version false 
      - run: npm config set @jbuncle:registry https://npm.pkg.github.com
      - run: npm config set //npm.pkg.github.com/:_authToken ${GITHUB_TOKEN}

      - run: npm version ${RELEASE_VERSION} 

      - run: npm install
      - run: npm run build
      - run: npm pack
      - run: echo "RELEASE=$(ls *.tgz | tail -n 1)" >> $GITHUB_ENV
      - run: npm publish --tag ${{ env.RELEASE_VERSION }} ${{ env.RELEASE }}